// Hero
.hero {
	position: relative;
	@include adaptiveValue("padding-top", 210, 95);
	@media (max-width: $tablet) {
		background: url("@img/hero/bg.jpg") 0 0 / cover no-repeat;
		@include adaptiveValue("padding-bottom", 60, 40);
	}
	// .hero__container
	&__container {
		position: relative;
	}
	// .hero__body
	&__body {
		display: grid;
		@include adaptiveValue("gap", 60, 25);
	}
	// .hero__label
	&__label {
		font-weight: 500;
		line-height: 110%;
		text-align: center;
		@include adaptiveValue("font-size", 42, 18);
		@media (max-width: $tablet) {
			color: #fff;
		}
	}
	// .hero__title
	&__title {
		display: flex;
		font-weight: 600;
		line-height: 125%;
		text-align: center;
		flex-direction: column;
		text-transform: uppercase;
		font-family: $fontFamilySecond;
		@include adaptiveValue("row-gap", 25, 15);
		@include adaptiveValue("font-size", 92, 24);
		@media (max-width: $tablet) {
			color: #fff;
		}
		span {
			line-height: 131%;
			@include adaptiveValue("font-size", 55, 18);
			@media (max-width: $tablet) {
				color: $GrayLightColor;
			}
		}
	}
	// .hero__block
	&__block {
		display: flex;
		margin: 0 auto;
		align-items: center;
		flex-direction: column;
		max-width: toRem(1012);
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
		@include adaptiveValue("padding", 30, 20);
		@include adaptiveValue("row-gap", 30, 20);
		@include adaptiveValue("border-radius", 20, 10);
		@include adaptiveValue("max-width", 1012, 712, 2, 1920, 739.98);
	}
	// .hero__text
	&__text {
		text-align: center;
	}
	// .hero__images
	&__images {
		left: 0;
		bottom: 0;
		z-index: -1;
		width: 100%;
		display: flex;
		align-items: end;
		position: absolute;
		justify-content: space-between;
		@include adaptiveValue("padding-left", 20, 10);
		@include adaptiveValue("padding-right", 20, 10);
		@media (max-width: toEm(1689.98)) {
			opacity: 0.45;
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .hero__image-block
	&__image-block {
		display: flex;
		align-items: end;
		flex-direction: column;
		@include adaptiveValue("row-gap", 65, 30);
	}
	// .hero__image
	&__image {
		overflow: hidden;
		border-radius: toRem(10);
		box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	}
}
// About
.about {
	@include adaptiveValue("padding-top", 125, 30);
	@include adaptiveValue("padding-bottom", 100, 50);
	// .about__body
	&__body {
		overflow: hidden;
		padding-left: toRem(10);
		padding-right: toRem(10);
		padding-bottom: toRem(10);
		@include adaptiveValue("padding-top", 60, 20);
		@include adaptiveValue("border-radius", 20, 10);
		@media (min-width: $tablet) {
			background: url("@img/about/bg.jpg") right top / cover no-repeat;
		}
		@media (max-width: $tablet) {
			background-color: $mainColor;
		}
	}
	// .about__title
	&__title {
		color: #fff;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 68, 30);
		}
	}
	// .about__content
	&__content {
		display: grid;
		align-items: end;
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: toEm(1439.98)) {
			gap: toRem(10);
			grid-template-columns: 1fr auto;
		}
		@media (max-width: toEm(1209.98)) {
			gap: toRem(0);
		}
	}
	// .about__aside
	&__aside {
		display: grid;
		gap: toRem(10);
		@media (min-width: $mobile) {
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				"one one"
				"two two"
				"three four";
		}
	}
	// .about__label
	&__label {
		color: #fff;
		justify-self: end;
		padding: toRem(30);
		max-width: toRem(430);
		min-width: toRem(430);
		backdrop-filter: blur(5px);
		background-color: rgba(43, 44, 46, 0.7);
		@include adaptiveValue("border-radius", 20, 10);
		h3 {
			color: $GreenLightColor;
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
		p {
			font-size: 22px;
			font-weight: 500;
			line-height: 136%;
		}
		@media (max-width: toEm(1209.98)) {
			display: none;
		}
	}
}
.aside-about {
	// .aside-about__info
	&__info {
		@media (min-width: $mobile) {
			grid-area: one;
		}
	}
	// .aside-about__benet
	&__benet {
		@media (min-width: $mobile) {
			grid-area: two;
		}
	}
	// .aside-about__market
	&__market {
		@media (min-width: $mobile) {
			grid-area: three;
		}
	}
	// .aside-about__prom
	&__prom {
		@media (min-width: $mobile) {
			grid-area: four;
		}
	}
}
.info-aside-about {
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: toRem(10) toRem(30) toRem(10) toRem(10);
	@include adaptiveValue("gap", 30, 14);
	@include adaptiveValue("border-radius", 20, 10);
	@media (max-width: $tablet) {
		background: url("@img/about/bg.jpg") right top / cover no-repeat;
		padding: toRem(210) toRem(10) toRem(10) toRem(10);
	}
	// .info-aside-about__image
	&__image {
		max-width: toRem(185);
		@include adaptiveValue("height", 185, 100);
		@include adaptiveValue("min-width", 185, 100);
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .info-aside-about__content
	&__content {
		display: grid;
		gap: toRem(20);
		padding: toRem(10) toRem(0);
		h4 {
			font-weight: 500;
			line-height: 112%;
			@include adaptiveValue("font-size", 32, 18);
		}
		@media (max-width: $tablet) {
			gap: toRem(10);
			padding: toRem(10);
			text-align: center;
			border-radius: toRem(10);
			backdrop-filter: blur(5px);
			background-color: rgba(43, 44, 46, 0.7);
			h4 {
				color: #fff;
			}
			p {
				color: #fff;
				span {
					color: $GrayMdColor;
				}
			}
		}
	}
}
.benet-aside-about {
	display: flex;
	gap: toRem(10);
	backdrop-filter: blur(5px);
	background-color: rgba(43, 44, 46, 0.7);
	@include adaptiveValue("padding", 30, 14);
	@media (max-width: $tablet) {
		gap: toRem(20);
	}
	@media (max-width: $mobileSmall) {
		flex-direction: column;
	}
	// .benet-aside-about__svg
	&__svg {
		height: toRem(62);
		min-width: toRem(44);
	}
	// .benet-aside-about__text
	&__text {
		color: #fff;
		display: grid;
		font-weight: 500;
		@include adaptiveValue("gap", 20, 10);
		@include adaptiveValue("padding", 30, 10, 2, 1920, 991.98);
		@media (min-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
.market-aside-about {
	background-color: #fff;
	@include adaptiveValue("padding", 30, 14);
	@include adaptiveValue("border-radius", 20, 10);
	// .market-aside-about__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}
}
.prom-aside-about {
	display: flex;
	row-gap: toRem(10);
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: $GreenLightColor;
	@include adaptiveValue("padding", 30, 14);
	@include adaptiveValue("border-radius", 20, 10);
	h3 {
		text-align: center;
	}
	p {
		font-size: 22px;
		font-weight: 500;
		line-height: 136%;
		@include adaptiveValue("font-size", 22, 16);
	}
	// .prom-aside-about__svg
	&__svg {
		height: toRem(93);
		min-width: toRem(89);
	}
}
